name: Miniconda installation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: download miniconda
      run: wget https://repo.anaconda.com/miniconda/Miniconda3-py39_4.9.2-MacOSX-x86_64.pkg miniconda.pkg

    - name: install pkg
      run: installer -pkg -verbose miniconda.pkg
